<div class="container">
  <h2>Resumo do Produtos</h2>

  @if (isBrowser) {
  @if (colorChartData(); as colorData) {
  <div class="chart-container">
    <h3>Distribuição de Cores</h3>
    <canvas baseChart [data]="colorData" [options]="pieOptions" type="pie">
    </canvas>
  </div>
  }

  @if (brandChartData(); as brandData) {
  <div class="chart-container">
    <h3>Distribuição de Marcas</h3>
    <canvas baseChart [data]="brandData" [options]="barOptions" type="bar">
    </canvas>
  </div>
  }

  @if (sizeChartData(); as sizeData) {
  <div class="chart-container">
    <h3>Distribuição de Tamanhos</h3>
    <canvas baseChart [data]="sizeData" [options]="barOptions" type="bar">
    </canvas>
  </div>
  }
  } @else {
  <p>Carregando gráficos...</p>
  }
</div>